<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://savepic.ru/8815812.png" type="image/png">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="/"><img src="http://savepic.ru/8815812.png" style="height: 64px;"/></a>
        </div>
        <div class="col-md-8">
          <ul class="navi pull-right">
            <li><a class="btn btn-default" href="/">Home</a></li>
            <li><a class="btn btn-default" href="/portfolio">Portfolio</a></li>
            <li><a class="btn btn-default" href="#">About me</a></li>
          </ul>
        </div>
      </div>  
    </div>
  </div>

  <%= yield %>
    
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li><a href="https://vk.com/id5388900"><img src="http://savepic.ru/8810523.png" style="height: 24px;"/></a></li>
            <li><a href="https://github.com/VitaHub"><img src="http://savepic.ru/8800282.png" style="height: 24px;"/></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100003445211869"><img src="http://savepic.ru/8814621.png" style="height: 24px;"/></a></li>
            <li><a href="https://twitter.com/hubenko_vitaliy"><img src="http://savepic.ru/8821789.png" style="height: 24px;"/></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <p class="pull-right">Hubenko Vitalii © 2016</p> 
        </div>
      </div>  
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function($) {
      $('.carousel').carousel({
  interval: 4000;
});
    });
  </script>

</body>
</html>
